/* manage image - select and delete */
.image_select_list input[type="checkbox"]:checked + img {
  border: 6px solid #007bff;
}

.image_select_list input[type="checkbox"] + img {
  border: 6px solid white;
}

.headerimage{ position:relative;}
.headerimage:hover .btn-wrapper{ display: block; text-align:center; position:absolute; top: 30px; margin: 0 auto; width:100%;}
.headerimage .btn-wrapper{ display: none; text-align:center; position:absolute; top: 30px; margin: 0 auto; width:100%;}
.img-responsive{width:100% !important; border-radius:0 0 5px 5px !important;}

/*used for help text*/
span.dropt {border-bottom: background: white;}
span.dropt:hover {text-decoration: none; background: #ffffff; z-index: 6; }
span.dropt span {position: absolute; left: -9999px;
  margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
  border-style:solid; border-color:black; border-width:1px; z-index: 6;}
span.dropt:hover span {left: 30%; background: #ffffff;} 
span.dropt span {position: absolute; left: -9999px;
  margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; 
  border-style:solid; border-color:black; border-width:1px;}
span.dropt:hover span {margin: 0px 0 0 0px; background: #ffffff; z-index:6;} 
body.full-page {padding: 5px;}

.inventory-table > thead > tr > th {
  border: 1px solid grey;
}
.inventory-table > tbody > tr > td {
  border: 1px solid grey;
}
.pixel-input {width: 50px;}
