.image_select_list input[type="checkbox"]:checked + img {
  border: 6px solid;
}
.image_select_list input[type="checkbox"] + img {border: 6px solid rgba(255,255,255,0);}
/*used for help text*/
span.dropt {border-bottom: background: white;}
span.dropt:hover {text-decoration: none; background: #ffffff; z-index: 6; }
span.dropt span {position: absolute; left: -9999px;
  margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
  border-style:solid; border-color:black; border-width:1px; z-index: 6;}
span.dropt:hover span {left: 30%; background: #ffffff;} 
span.dropt span {position: absolute; left: -9999px;
  margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; 
  border-style:solid; border-color:black; border-width:1px;}
span.dropt:hover span {margin: 0px 0 0 0px; background: #ffffff; z-index:6;} 
body.full-page {padding: 5px;}

.inventory-table > thead > tr > th {
  border: 1px solid grey;
}
.inventory-table > tbody > tr > td {
  border: 1px solid grey;
}
.pixel-input {width: 50px;}
ul#id_tags, ul#id_categories, ul.no_bullet_list {list-style: none;}
ul.no_bullet_list{padding: 5px}

label.bulk {
  font-size: small;
  font-variant: small-caps;
}
