{% extends 'full_page.html' %}
{% load static sekizai_tags thumbnail %}
{% block title %}
   {{page_title}}
{% endblock %}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link href="{% url 'inventory:theme_style' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-4">
  <h2 class="inventory-title">{{title}}</h2>
  </div>
  <div class="col-8 text-right">
{% block control_buttons %}
 <a href="{% url 'inventory:item_upload' %}" role="button" class="btn inventory-btn-primary">Bulk Item Upload</a>&nbsp;
 <a href="{% url 'inventory:image_upload' %}" role="button" class="btn inventory-btn-primary">Image Upload</a>&nbsp;
{% endblock %}
 <a href="{% url 'inventory:themes_list' %}" role="button" class="btn inventory-btn-primary">Manage Themes</a>
  </div>
</div>
{% if path_list %}
 <ul class="nav nav-tabs" id="inner">
 {% for text, path in path_list %}
  <li role="presentation" class="nav-item"><a href="{{ path }}" class="nav-link {% if request.path == path %}active{% endif %}">{{text}}</a></li>
 {% endfor %}
 </ul>
 {% endif %}{% if instructions %}<br>
 <p>{{ instructions | safe }}</p>{% endif %}
{% if form_url %}<form action="{{form_url}}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" name="step" value="0" id="id_step">
  <input type="submit" name="next" value="Merge" class="btn inventory-btn-primary" >
{% endif %}
<table id="table" data-cookie="true" data-cookie-id-table="{{data_name_plural}}ListId" data-search="true" data-show-columns="true" data-show-toggle="true" data-show-fullscreen="true" data-show-columns-toggle-all="true" data-buttons="buttons" {% if not details_off %}data-detail-formatter="detailFormatter" data-detail-view="true" {% endif %}data-row-style="rowStyle" class="inventory-table" data-buttons-class="inventory-secondary" data-sort-name="modified" data-sort-order="desc" data-id-field="id" data-select-item-name="{{data_name_plural}}" data-click-to-select="true">
  <thead class='inventory-table-header'>
    {% block table_header %}
        <tr>
          <th data-field="id" data-sortable="true" data-visible="false" rowspan="2">ID</th>
          <th data-field="title" data-sortable="true" rowspan="2">Title</th>
          <th data-field="category" data-sortable="true" rowspan="2">Category</th>
          {% if museum_on %}
          <th data-field="disposition" data-sortable="true" data-visible="true" rowspan="2">Disposition</th>
          <th data-sortable="true" colspan="3">Dimensions(")</th>
          <th data-field="year" data-sortable="true" rowspan="2">Year</th>
          <th data-field="subject" data-sortable="true" rowspan="2">Subject</th>
          {% else %}
          <th data-field="disposition" data-sortable="true" data-visible="false" rowspan="2">Disposition</th>
          <th data-field="colors" data-sortable="true" rowspan="2">Colors</th>
          <th data-field="quantity" data-sortable="true" rowspan="2">#</th>
          <th data-field="shows" data-sortable="true" data-visible="false" rowspan="2">Show</th>
          <th data-field="acts" data-sortable="true" data-visible="false" rowspan="2">Acts</th>
          <th data-field="size" data-sortable="true" rowspan="2">Size</th>
          <th data-field="performers" data-sortable="true" data-visible="false" rowspan="2">Performers</th>
          <th data-field="last_used" data-sortable="true" data-visible="false" rowspan="2">Last Used</th>
          {% endif %}
          <th data-field="price" data-sortable="true" data-visible="false" rowspan="2">Price</th>
          <th data-field="description" data-sortable="false" data-visible="false" rowspan="2">Description</th>
          <th data-field="note" data-sortable="false" data-visible="false" rowspan="2">Note</th>
          <th data-field="date_acquired" data-sortable="true" data-visible="false" rowspan="2">Date Acquired</th>
          <th data-field="date_deaccession" data-sortable="true" data-visible="false" rowspan="2">Date Deaccession</th>
          <th data-field="created" data-sortable="true" data-visible="false" rowspan="2">Created</th>
          <th data-field="updated" data-sortable="true" data-visible="false" rowspan="2">Updated</th>
          <th data-field="tags" data-sortable="false" data-visible="false" rowspan="2">Tags</th>
          <th data-field="connections" data-sortable="false" data-visible="false" rowspan="2">Connections</th>
          <th data-field="main_image" data-sortable="false" data-visible="true" data-card-visible="true" rowspan="2">Image</th>
          <th data-field="modified" data-sortable="true" data-visible="true" data-visible="false" data-card-visible="true" rowspan="2">Last Modified</th>
          <th data-field="texts" data-sortable="false" data-visible="false" rowspan="2">Texts</th>
          <th data-field="action" rowspan="2">Action</th>
        </tr>
        <tr>
          {% if museum_on %}
          <th data-field="w" data-sortable="true">W</th>
          <th data-field="h" data-sortable="true">H</th>
          <th data-field="d" data-sortable="true">D</th>
          {% endif %}
        </tr>
    {% endblock %}
  </thead>
</table>
 {% if form_url %}</form>{% endif %}

{% addtoblock "js" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/cookie/bootstrap-table-cookie.min.js"></script>
<script>
  function buttons () {
    return {
      {% block buttons %}
      btnAdd: {
        text: 'Add new row',
        icon: 'fa-plus',
        event: function () {
          window.location.href = "{% url 'inventory:item_create' %}";
        },
        attributes: {
          title: 'Add a new item to the inventory',
        }
      }
      {% endblock %}
    }
  }
</script>
<script>
  var $table = $('#table')
  var $button = $('#button')

  $(function() {
    $button.click(function () {
      $table.bootstrapTable('toggleView')
    })
  })
</script>
<script>
  var $table = $('#table')
  var $button = $('#button')
  var $button2 = $('#button2')

  $(function() {
    $button.click(function () {
      $table.bootstrapTable('expandRow', 1)
    })
    $button2.click(function () {
      $table.bootstrapTable('collapseRow', 1)
    })
  })

  function detailFormatter(index, row) {
    {% block details %}
    var html = []
    html.push('<div class="row">')
    html.push('<div class="col-6"><b>Description:</b><br>' + row.description + '<br><br>')
    if (row.note.length > 0) {
        html.push('<b>Notes:</b><br>' + row.note + '<br><br>')
    }
    {% if museum_on %}
    if (row.texts.length > 0) {
        html.push('<b>Texts:</b><br>' + row.texts + '<br>')
    }
    if (row.tags.length > 0) {
        html.push('<b>Tags:</b> ' + row.tags + '<br>')
    }{% else %}
    html.push('<b>Shows:</b>  ' + row.shows + '<br>')
    html.push('<b>Acts:</b>  ' + row.acts + '<br>')
    {% endif %}
    html.push('</div><div class="col-6">')
    html.push('<b>Date Acquired:</b>  ' + row.date_acquired + '<br>')
    html.push('<b>Disposition:</b>  ' + row.disposition + '<br>')
    if (row.date_deaccession.length > 0) {
        html.push('<b>Date Decaccessioned:</b>  ' + row.date_deaccession + '<br>')
    }
    html.push('<b>Created:</b>  ' + row.created + '<br>')
    html.push('<b>Last Update:</b>  ' + row.updated + '<br>')
    {% if not museum_on %}
    html.push('<b>Last Used:</b>  ' + row.last_used + '<br><br>')
    html.push('<b>Size:</b>  ' + row.size + '<br>')
    if (row.w.length > 0) {
      html.push('<b>Dimensions:</b> ' + row.w)
      if (row.h.length > 0) {
        html.push(' x ' + row.h)
        if (row.d.length > 0) {
          html.push(' x ' + row.d)
        }
      }
      html.push('<br>')
    }
    html.push('<b>Performers:</b>  ' + row.performers + '<br>')
    {% endif %}
    if (row.price.length > 0) {
        html.push('<br><b>Price:</b> ' + row.price + '<br>')
    }    if (row.connections.length > 0) {
        html.push('<b>Connections:</b> ' + row.connections + '<br>')
    }
    html.push('</div>')
    if (row.images.length > 0) {
      html.push('<div class="col-12"><b>Images:<br></b>' + row.images +'</div>')
    }
    if (row.subitems) {
      html.push('<div class="col-12"><b>Subitems:&nbsp;<a class="inventory-detail" href="{% url "inventory:subitem_create" %}" title="Add Subitem"><i class="fas fa-plus"></i></a><br></b><table><tr><th>Title</th><th>Description</th><th>{% if museum_on %}Dimensions{% else %}Performers</th><th>Size{% endif %}</th><th>Tags</th><th>Action</th></tr>' + row.subitems +'<table></div>')
    }
    html.push('</div>')
    return html.join('')
    {% endblock %}
  }
</script>
<script>
  var $table = $('#table')

  $(function() {
    var data = [
  {% block item_data %}
  {% for item in items %}
      {
        'id': '{{ item.pk }}',
        'title': '{{ item.title|escapejs }}',
        'category': '{% if item.category %}{{ item.category }}{% endif %}',
        'disposition': '{% if item.disposition %}{{ item.disposition }}{% endif %}',
        'w': '{% if item.width %}{{ item.width.normalize }}{% endif %}',
        'h': '{% if item.height %}{{ item.height.normalize }}{% endif %}',
        'd': '{% if item.depth %}{{ item.depth.normalize }}{% endif %}',
        {% if museum_on %}'year': '{% if item.year %}{{ item.year|escapejs }}{% endif %}',
        'subject': '{% if item.subject %}{{ item.subject|escapejs }}{% endif %}',{% else %}
        'quantity': '{% if item.quantity %}{{ item.quantity }}{% endif %}',
        'size': '{% if item.sz %}<b>Fixed:</b> {% for size in item.sz_list %}{{size}}, {% endfor %}{% elif item.size %}<b>Flexible:</b> {{ item.size }}{% endif %}',
        'colors': '{% for color in item.colors.all %}{{ color }}, {% endfor %}',
        'performers': '{% for performer in item.performers.all %}{{ performer }}, {% endfor %}',
        'acts': '{% for act in item.acts.all %}{{ act }}, {% endfor %}',
        'shows': '{% for show in item.shows.all %}{{ show }}, {% endfor %}',
        'last_used': '{% if item.last_used %}{{ item.last_used }}{% endif %}',{% endif %}
        'modified': '<span data-datetime="{{ item.updated_at|date:"U" }}">{{ item.updated_at|date:"N j, Y, g:h A" }}</span>',
        'action': '<form onsubmit="return confirm(\'Do you want to delete the item - {{item.title|escapejs}}?\');" action="{% url "inventory:item_delete" item.id %}" method="post">{% csrf_token %}<a class="btn btn-sm inventory-detail px-1" href="{% url "inventory:item_edit" item.id %}" title="Edit"><i class="fas fa-edit"></i></a><a class="btn btn-sm inventory-detail px-1" href="{% url "inventory:manage_item_image" item.id %}" title="Manage Images"><i class="far fa-images"></i></a><button class="btn btn-sm inventory-detail px-1" type="submit"><i class="fas fa-trash-alt"></i></button></form>',
        'price': '{% if item.price %}${{ item.price }}{% endif %}',
        'description': '{% if item.description %}{{ item.description.strip|escapejs }}{% endif %}',
        'note': '{% if item.note %}{{ item.note|escapejs }}{% endif %}',
        'date_acquired': '{% if item.date_acquired %}{{ item.date_acquired|date:"F j, Y" }}{% endif %}',
        'date_deaccession': '{% if item.date_deaccession %}{{ item.date_deaccession|date:"F j, Y" }}{% endif %}',
        'created': '{{ item.created_at|date:"F j, Y" }}',
        'updated': '{{ item.updated_at|date:"F j, Y" }} by {{ item.updated_by|default_if_none:"---" }}',
        'tags': '{% for tag in item.tags.all %}{{ tag }}, {% endfor %}',
        'connections': '{% for connect in item.connections.all %}{{ connect|escapejs }}, {% endfor %}',
        'images': '{% for image in item.images.all %}{% if item.main_image != image %}<a href="{% url "inventory:promote_item_image" image.pk %}" title="Click to set main image">{% endif %}<img src="{% thumbnail image.filer_image 100x150 %}">{% if item.main_image != image %}</a>{% endif %}&nbsp;<a class="inventory-detail align-bottom" href="{{image.filer_image.url}}"><i class="fas fa-expand-arrows-alt"></i></a>&nbsp;{% endfor %}',
        'main_image': '{% if item.main_image %}<img src="{% thumbnail item.main_image.filer_image 100x150 %}">&nbsp;<a class="inventory-detail align-bottom" href="{{item.main_image.filer_image.url}}"><i class="fas fa-expand-arrows-alt"></i></a>&nbsp;{% else %}{% for image in item.images.all %}<a href="{% url "inventory:promote_item_image" image.pk %}" title="Click to set main image"><img src="{% thumbnail image.filer_image 100x150 %}"></a>&nbsp;<a class="inventory-detail align-bottom" href="{{image.filer_image.url}}"><i class="fas fa-expand-arrows-alt"></i></a>&nbsp;{% endfor %}{% endif %}',
        'texts': '{% for text in item.labels.all %}<i>Text {{forloop.counter}}:</i>&nbsp;&nbsp;{{text.text|escapejs}}<br>{% endfor %}',
        {% if item.subitem_set %}
        'subitems': '{% for sub in item.subitem_set.all %}<tr><td>{{sub}}</td><td>{{sub.description}}</td><td>{% if museum_on %}{{sub.dimensions}}{% else %}{% for performer in sub.performers.all %}{{ performer }}, {% endfor %}</td><td>{{sub.size}}{% endif %}</td><td>{% for tag in sub.tags.all %}{{tag}}, {% endfor %}</td><td><a class="inventory-detail" href="{% url "inventory:subitem_update" sub.id %}" title="Edit"><i class="fas fa-edit"></i></a></td></tr>{% endfor %}',
        {% endif %}
      },
  {% endfor %}
  {% endblock %}
    ]
    $table.bootstrapTable({data: data})
  })
</script>
<script>
  function rowStyle(row, index) {
    if (row.id == {{changed_id}}) {
      return {
        classes: "inventory-table-success"
      }
    }
    {% if error_id %}
    else if (row.id == {{error_id}}) {
      return {
        classes: "inventory-table-error"
      }
    }
    {% endif %}
    return {}
  }
</script>
<script>
  $(function() {
    $('#table').bootstrapTable()
  })
</script>
{% endaddtoblock %}
{% endblock %}
