{% extends 'base.html' %}
{% block title %}
   {{page_title}}
{% endblock %}
{% block head %}
    <script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
    <script>{% include "tiny-mce-user-settings.tmpl" %}</script>
{% endblock %}
{% block content %}
<h2 class="subtitle">{{title}}</h2>
<p>{{view_header_text | safe}}</p>

  {% if errors %}
    {% for error in errors %}
    <p style= "color:red">{{error}}</p>
    {% endfor %}
  {% endif %}
<form action="" method="post" enctype="multipart/form-data">
<div class="row">
  <div class="col-12">
    {% include "form_table_wrapper.tmpl" %}
  </div></div>
<div class="row">
  <div class="col-12 text-right">
    {% if step > 0 %}<input type="submit" name="submit" value="< Back" class="btn btn-primary" >{% endif %}
    <input type="submit" name="submit" value="{% if step < max %}Next >{% else %}Finish{% endif %}" class="btn btn-primary" >
  </div>
</div>
</form>
{% endblock %}
