{% extends 'inventory/generic_wizard.tmpl' %}
{% block special_handling_form %}
      {% if field.errors %}
      <div class="container"><div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-4"><label for="{{field.name}}">        
          <font class="inventory-form-error">{{ field.errors }}</font></label></div>
      </div></div>
      {% endif %}

      <font class="inventory-form-error">{% if forms.0.errors %}
        <p> There is an error on the form.</p>
      {% endif %}{{ forms.0.non_field_errors }}</font>
      {% csrf_token %}
      {{ forms.0.step }}
      {{ forms.0.item_id }}
      <div class="form-group"><div class="container"><div class="row">
        <div class="col-md-2">
          <label for="{{field.name}}" class="control-label">        
              <font {% if forms.0.width.errors or forms.0.height.errors or forms.0.depth.errors %}class="inventory-form-error">
                !&nbsp;&nbsp;{% else %}>{% endif %}Dimensions:</font>
          </label></div>
        <div class="col-md-10">
        {{ forms.0.width }} " w X {{ forms.0.height }} " h X {{ forms.0.depth }} " d
        </div></div></div>

      {% if forms.0.width.errors or forms.0.height.errors or forms.0.depth.errors %}
      <div class="container"><div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-4"><label for="{{field.name}}">        
          <font class="inventory-form-error"><ul>
          {% if forms.0.width.errors %}<li>w - {{ forms.0.width.errors | striptags }}</li>{% endif %}
          {% if forms.0.height.errors %}<li>h - {{ forms.0.height.errors | striptags }}</li>{% endif %}
          {% if forms.0.depth.errors %}<li>d - {{ forms.0.depth.errors | striptags }}</li>{% endif %}</ul>
          </font></label></div>
      </div></div>
      {% endif %}
  </div><!-- end form group -->
      {% if forms.0.size %}{% include "form_field.tmpl" with field=forms.0.size %}{% endif %}
      {% if forms.0.performers %}{% include "form_field.tmpl" with field=forms.0.performers %}{% endif %}
      {% if forms.0.quantity %}{% include "form_field.tmpl" with field=forms.0.quantity %}{% endif %}
      {% include "form_field.tmpl" with field=forms.0.disposition %}
      {% if forms.0.year %}{% include "form_field.tmpl" with field=forms.0.year %}{% endif %}
      {% include "form_field.tmpl" with field=forms.0.date_acquired field_size=2 %}
      {% include "form_field.tmpl" with field=forms.0.date_deaccession field_size=2%}
      {% if forms.0.last_used %}{% include "form_field.tmpl" with field=forms.0.last_used %}{% endif %}
      {% include "form_field.tmpl" with field=forms.0.price %}
{% endblock %}
