{% extends 'inventory/item_list.tmpl' %}
{% block control_buttons %}{% endblock %}
{% block table_header %}
        <tr>
          <th data-field="id" data-sortable="true" data-width="10">ID</th>
          <th data-field="title" data-sortable="true">Title</th>
          <th data-field="num_acts" data-sortable="true"># Acts</th>
          <th data-field="first_performed" data-sortable="true">First Performed</th>
          <th data-field="last_performed" data-sortable="true">Last Performed</th>
          <th data-field="num_items" data-sortable="true"># Items</th>
          <th data-field="action">Action</th>
        </tr>
{% endblock %}
{% block buttons %}
      btnAdd: {
        text: 'Add new row',
        icon: 'fa-plus',
        event: function () {
          window.location.href = "{% url 'inventory:show_create' %}";
        },
        attributes: {
          title: 'Add a new item to the inventory',
        }
      }
{% endblock %}
{% block details %}
    var html = []
    html.push('<div class="row">')
    html.push('<div class="col-4">')
    html.push('<b>Description:</b><br>' + row.description + '<br>')
    html.push('</div><div class="col-4">')
    html.push('<b>Items:</b><br>' + row.items + '<br>')
    html.push('</div><div class="col-4">')
    html.push('<b>Acts:</b><br>' + row.acts + '<br>')
    html.push('</div></div>')
    return html.join('')
{% endblock %}
{% block item_data %}
  {% for show in items %}
      {
        'id': '{{ show.pk }}',
        'title': '{{ show.title }}',
        'first_performed': '{{ show.first_performed }}',
        'last_performed': '{{ show.last_performed }}',
        'description': '{{ show.description }}',
        'num_acts': '{{ show.num_acts }}',
        'num_items': '{{ show.num_items }}',
        'acts': '{% for act in show.act_set.all %}<a href="{% url 'inventory:act_update' act.id %}" title="Edit">{{ act }}&nbsp;&nbsp;<i class="fas fa-edit"></i></a>,<br>{% endfor %}',
        'items': '{% for item in show.item_set.all %}<a href="{% url 'inventory:item_edit' item.id %}" title="Edit">{{ item }}&nbsp;&nbsp;<i class="fas fa-edit"></i></a>,<br>{% endfor %}',
        'action': '<form onsubmit="return confirm(\'Do you want to delete the show - {{show}}?\');" action="{% url "inventory:show_delete" show.id %}" method="post">{% csrf_token %}<a class="btn btn-sm inventory-detail px-1" href="{% url "inventory:show_update" show.id %}" title="Edit"><i class="fas fa-edit"></i></a><button class="btn btn-sm inventory-detail px-1" type="submit"><i class="fas fa-trash-alt"></i></button></form>',
      },
  {% endfor %}
  {% endblock %}