{% extends 'inventory/item_list.tmpl' %}
{% load thumbnail %}
{% block table_header %}
        <tr>
          <th data-field="id" data-sortable="true">ID</th>
          <th data-field="name" data-sortable="true">Name</th>
          <th data-field="help" data-sortable="true">Help Text</th>
          <th data-field="count" data-sortable="true"># Items</th>
          <th data-field="action">Action</th>
        </tr>
{% endblock %}
{% block buttons %}
      btnAdd: {
        text: 'Add new row',
        icon: 'fa-plus',
        event: function () {
          window.location.href = "{% url 'inventory:tag_create' %}";
        },
        attributes: {
          title: 'Add a new item to the inventory',
        }
      }
{% endblock %}
{% block details %}
    var html = []
    html.push('<div class="row">')
    html.push('<div class="col-12">')
    html.push('<b>Items:</b><br>' + row.items + '<br>')
    html.push('</div></div>')
    return html.join('')
{% endblock %}
{% block item_data %}
  {% for tag in items %}
      {
        'id': '{{ tag.pk }}',
        'name': '{{ tag.name }}',
        'help': '{{ tag.help_text|escapejs }}',
        'count': '{{ tag.num_items }}',
        'items': '{% for item in tag.items.all %}<a href="{% url 'inventory:item_edit' item.id %}" title="Edit">{{ item }}&nbsp;&nbsp;<i class="fas fa-edit"></i></a>,<br>{% endfor %}',
        'action': '<a class="inventory-detail" href="{% url "inventory:tag_update" tag.id %}" title="Edit"><i class="fas fa-edit"></i></a>',
      },
  {% endfor %}
  {% endblock %}