{% extends 'inventory/item_list.tmpl' %}
{% load thumbnail %}
{% block table_header %}
        <tr>
          <th data-field="id" data-sortable="true">ID</th>
          <th data-field="name" data-sortable="true">Name</th>
          <th data-field="number" data-sortable="true">Number</th>
          <th data-field="created" data-sortable="true">Created</th>
          <th data-field="updated" data-sortable="true">Updated</th>
          <th data-field="currently_live" data-sortable="true">On Live</th>
          <th data-field="currently_test"  data-sortable="true">On Test</th>
          <th data-field="action">Action</th>
        </tr>
{% endblock %}
{% block buttons %}
{% endblock %}
{% block details %}
{% endblock %}
{% block item_data %}
  {% for theme in themes %}
      {
        'id': '{{ theme.pk }}',
        'number': '{{ theme.number|floatformat:2 }}',
        'name': '{{ theme.name }}',
        'action': 'Coming soon...',
        'created': '{{ theme.created_at }}',
        'updated': '{{ theme.updated_at }}',
        'currently_live': '{% if theme.currently_live %}LIVE{% endif %}',
        'currently_test': '{% if theme.currently_test %}TEST{% endif %}',
      },
  {% endfor %}
  {% endblock %}